<%= form_tag admins_path, :method => :post, :class => "form-horizontal" do %>
	<legend>Add Admin</legend>
	<%= render :partial => "shared/errors", :locals => { :obj => @admin } %>
  <div class="control-group">
		<label class="control-label" for="email">Email *</label>
		<div class="controls">
			<%= email_field_tag :email %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= submit_tag "Add Admin", :class => "btn" %>
		</div>
	</div>
<% end %>