<h2 align='center'>Add Admin</h2>

<%= form_tag admins_path, :method => :post do %>

	<%= render :partial => "shared/errors", :locals => { :obj => @admin } %>
  
  <table width="800" class="ShowTable" align='center'>
		<tr>
			<td>E - mail *</td>
			<td><%= email_field_tag :email %></td>
		</tr>	
		<tr>
			<td></td>
			<td><%= submit_tag "Add Admin" %></td>
		</tr>	
  </table>
  
<% end %>
<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
