body { }
a { color:#0008a8; text-decoration:none; }
a:hover { color:red; }
a:active { color:#FFf; }
#container { border:1px solid; }
.TagSpan { cursor:pointer; color:#000774; }
.TagSpan:hover { color:red; }
.LeftPanel { float:left; }
.RightPanel { float:right; width:500px; }
.HomePageTable tr td { padding:20px; }
.Clear { clear:both; }
.TagList { background:#cccccc; width:300px; margin-left:35px; padding:10px; text-align: justify; }
.TagListHead { margin-left:35px; font-weight:bold; }
.DelTag { background:#cccccc; margin:3px; cursor:pointer; padding-left:17px; background: url("../images/cross.gif") no-repeat scroll 0 0 grey; }
.ShowTable { border:1px solid; width: 800px; }
.ShowTable tr td {  padding:4px; }
.AlternateRow { background: #AADfaa; }
.searchBox { float:left; background:#eee; width:400px; padding:5px; margin-top:25px; }
.TagSizeOne { font-size:12px; }
.TagSizeTwo { font-size:15px; }
.TagSizeThree { font-size:18px; }
.TagSizeFour { font-size:21px; }
.TagSizeBig { font-size:24px; }
.Mandatory { color:red; }
.highlighted { color:green; }
.notice { color:#9186E0; text-align:center; }
.error { color:red; text-align:center; }
.alert { color:#347877; text-align:center; }
.ProjectHeading { font-size:24px; float:left; margin-left: 5px; }
#searchForm { background:#FEFEFE }
#assetTable tr td select { width:300px;  }
#assetTable tr td { vertical-align:top; }
#tags { width:300px; }
#addTagButton { color: blue; cursor: pointer; text-decoration: underline; }
#notice { text-align:center; }
#asset_currency_unit { width:auto;}
#tabs ul {padding:0px;}
#tabs ul li { float:left; list-style:none; display:inline; padding:3px; background:#cccaaa; margin-left:5px; border:1px solid #237487; font-size:13px; }
#header { width:800px; }
.actionsLinks { float:right; }
.pagination { padding: 3px; margin: 3px; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #777777; text-decoration: none; color: #000099; }
.pagination a:hover,
.pagination a:active { border: 1px solid #787778; color: #327; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #555; color: #555; }
.table_container { width:800px; }
