body { }
#container { border:1px solid; }
.LeftPanel { float:left; }
.RightPanel { float:right; width:500px; }
.HomePageTable tr td { padding:20px; }
.Clear { clear:both; }
.TagList { background:#cccccc; width:300px; margin-left:35px; padding:10px; }
.TagListHead { margin-left:35px; font-weight:bold; }
#searchForm { padding:30px; width:300px; }
#assetTable tr td select { width:300px;  }
#assetTable tr td { vertical-align:top; }
