body { }
a { color:#0008a8; text-decoration:none; }
a:hover { color:red; }
#container { border:1px solid; }
.TagSpan { cursor:pointer; color:#000774; }
.TagSpan:hover { color:red; }
.LeftPanel { float:left; }
.RightPanel { float:right; width:500px; }
.HomePageTable tr td { padding:20px; }
.Clear { clear:both; }
.TagList { background:#cccccc; width:300px; margin-left:35px; padding:10px; text-align: justify; }
.TagListHead { margin-left:35px; font-weight:bold; }
.DelTag { background:#cccccc; margin:3px; cursor:pointer; padding-left:17px; background: url("../images/cross.gif") no-repeat scroll 0 0 grey; }
.ShowTable { border:1px solid; width: 800px; }
.ShowTable tr td {  padding:4px; }
.AlternateRow { background: #AADfaa; }
.searchBox { float:left; background:#eee; width:400px; padding:5px; margin-top:25px; }
.TagSizeOne { font-size:12px; }
.TagSizeTwo { font-size:15px; }
.TagSizeThree { font-size:18px; }
.TagSizeFour { font-size:21px; }
.TagSizeBig { font-size:24px; }
.notice { color:#9186E0; text-align:center; }
.error { color:red; text-align:center; }
.alert { color:#347877; text-align:center; }
#searchForm { background:#FEFEFE }
#assetTable tr td select { width:300px;  }
#assetTable tr td { vertical-align:top; }
#addTags { float:right; }
#tags { width:300px; }
#addTagButton { color: blue; cursor: pointer; text-decoration: underline; }
#notice { text-align:center; }
#asset_currency_unit { width:auto;}
