<% unless @tags.empty? %>		
	<div class='TagList well well-small'>
	<p class="lead removeMargin">Tag List</p>
	<% @tags.each do |tag| %>
		<%= content_tag :span, tag.name, :class => tag_class(tag), "data-id" => tag.id %>
	<% end %>
	</div>
	<div id="tagResult" class="modal" role="dialog" style="display:none;"></div>
<% end %>

<ul class="nav nav-tabs nav-stacked">
	<li><%= link_to "Disabled Employees", disabled_employees_path %></li>
	<li class="<%= class_name("admins", "new") %>"><%= link_to 'Add new admin', new_admin_path %></li>
</ul>