<legend>Search result</legend>
<div class="well well-small"><%= (generate_search_info params[:search]).html_safe %></div>
<div><%= page_entries_info @result %></div>

<br />
<ul class="nav nav-tabs nav-stacked">
<% @result.each do |res| %>
	<li><%= link_to "#{res.id} - #{res.name}", res %></li>
<% end %>
</ul>
<%= will_paginate @result, :remote => true %>
<script> $('.pagination a').attr('data-remote', 'true'); </script>