<legend>Search result</legend>
<%= page_entries_info @result %>
<br />
<br />
<ul class="nav nav-tabs nav-stacked">
<% @result.each do |res| %>
	<li><%= link_to "#{res.id} - #{res.name}", res %></li>
<% end %>
</ul>
<%= will_paginate @result, :remote => true %>
<script> $('.pagination a').attr('data-remote', 'true'); </script>