<h2>Search result</h2>

<% if(@result.count == 0) %>
	<%= "Sorry No results found ".html_safe %>
<% else %>
	<%= "Displaying <b>#{@result.count}</b> results found".html_safe %><br><br>
	<% @result.each do |res| %>
		<%= link_to "#{res.id} - #{res.name}", res %><br>
	<% end %>
<% end %>
<br><br>
<div id='pagination' align='left'><%= will_paginate @result if @result.present? %></div>

<script> $('.pagination a').attr('data-remote', 'true'); </script>
