<table>
	<tr>
		<td>Operating System *</td>
		<td>
			<%= text_field_tag "asset[operating_system]", @asset.try(:operating_system) %>
		</td>
	</tr>
	<tr>
		<td>Has Bag</td>
		<td>
				<%= hidden_field_tag "asset[has_bag]", false %>
				<%= check_box_tag "asset[has_bag]", true, @asset.try(:has_bag) %>
		</td>
	</tr>
</table>	

