<div class="control-group">
	<label class="control-label" for="asset_type">Operating System *</label>
	<div class="controls">
		<%= text_field_tag "asset[operating_system]", @asset.try(:operating_system) %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="asset_type">Has Bag</label>
	<div class="controls">
		<%= hidden_field_tag "asset[has_bag]", false %>
		<%= check_box_tag "asset[has_bag]", true, @asset.try(:has_bag) %>
	</div>
</div>

