<table>
	<tr>
		<td>Operating System</td>
		<td>
			<% if !@asset.nil? %>
				<%= text_field_tag "resource[operating_system]", @asset.resource.operating_system %>
			<% else %>
				<%= text_field_tag "resource[operating_system]" %>
			<% end %>	
		</td>
	</tr>
	<tr>
		<td>Has Bag</td>
		<td>
			<% if !@asset.nil? %>
				<%= check_box_tag "resource[has_bag]", @asset.resource.has_bag, !@asset.resource.has_bag.nil? %>
			<% else %>
				<%= check_box_tag "resource[has_bag]" %>
			<% end %>	
		</td>
	</tr>
</table>	

