<table>
	<tr>
		<td>Operating System <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
		<td>
			<%= text_field_tag "asset[resource_attributes][operating_system]", @asset.try(:resource).try(:operating_system) %>
		</td>
	</tr>
</table>
