/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
*/

.user_actions {
	margin-top: 20px;
  text-align: right;
}

.TagSize1 {
	font-size:12px;
}
.TagSize2 {
	font-size:14px;
}
.TagSize3 {
	font-size:16px;
}
.TagSize4 {
	font-size:18px;
}
.TagSizeBig {
	font-size:22px;
}

.tag {
	color: #0088CC;
	cursor: pointer;
}

.removeMargin {
	margin: 0px !important;
}

.pagination {
	.current {
		display: inline;
		border: 1px solid #DDDDDD;
		border-color: #DDDDDD;
		border-style: solid;
		line-height: 38px;
		padding: 0 14px;
	}
	a {
		float: none;
	}
	.previous_page {
		float: none;
		border-left: 1px solid #DDDDDD;
	}
	.next_page {
		float: none;
	}
}

.currency {
	width: 70px;
}

.cost {
	width: 136px;
}

.field_with_errors {
	display: inline;
	input {
		border-color: red;
	}
	select {
		border-color: red;
	}
}

.ui-datepicker {
	width: 224px;
	background: #F4F4F4;
	.ui-datepicker-header {
		margin: 0 7px;
		.ui-datepicker-prev {
			cursor: pointer;
		}
		.ui-datepicker-next {
			float: right;
			cursor: pointer;
		}
	}
	.ui-datepicker-calendar {
		width:100%;
		th {
			text-align: center;
		}
		td {
			text-align: center;
			border: 1px solid silver;
			a {
				display: block;
			}
		}
	}
}

.remove_borders {
	tr {
		border: 0px !important;
	}	
}

.vinsol-logo {
	width: 180px;
	height: 80px;
	display: block;
	overflow: hidden;
	img {
		width: 179px; 
		height: 179px;
		margin-top: -52px;
	}
}

.header-text {
	font-size: 30px;
	margin-top: 25px;
}
.clear_both {
	clear: both;
}

.DelTag {
	padding: 5px 6px 5px 25px;
	cursor: pointer;
	margin-right: 10px;
	background: #EDF3FE;
	background-image: url("/assets/cross.gif");
	background-repeat: no-repeat;
	background-position: 6px 6px;
  border: 1px solid #8CB6FF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#tags {
	margin-top:14px;
}