/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
*/

.user_actions {
	margin-top: 20px;
  text-align: right;
}

.TagSize1 {
	font-size:12px;
}
.TagSize2 {
	font-size:14px;
}
.TagSize3 {
	font-size:16px;
}
.TagSize4 {
	font-size:18px;
}
.TagSizeBig {
	font-size:22px;
}

.tag {
	color: #0088CC;
	cursor: pointer;
}

.removeMargin {
	margin: 0px !important;
}

.pagination {
	.current {
		display: inline;
		border: 1px solid #DDDDDD;
		border-color: #DDDDDD;
		border-style: solid;
		line-height: 38px;
		padding: 0 14px;
	}
	a {
		float: none;
	}
	.previous_page {
		float: none;
		border-left: 1px solid #DDDDDD;
	}
	.next_page {
		float: none;
	}
}
